<mat-tab-group 
    orientation="vertical" 
    [(selected)]="tab"
    (selectedChange)="selectedChange($event)">
  <mat-tab label="Tab 1" name="tab1">
    <ng-template matTabContent>
      <mat-tab-group>
        <mat-tab label="Inner 1">
          <ng-template matTabContent>
            Inner Tabs 1
          </ng-template>
        </mat-tab>
        <mat-tab label="Inner 2">flex-grow
          <ng-template matTabContent>
            Inner Tabs 2
          </ng-template>
        </mat-tab>
      </mat-tab-group>
        
    </ng-template>
  </mat-tab>

  <mat-tab label="Tab 2" name="tab2">
    <ng-template matTabContent>
      Tab 2 Content
    </ng-template>
  </mat-tab>

  <mat-tab label="Tab 3" name="tab3">
    <ng-template matTabContent>
      Tab 3 Content
    </ng-template>
  </mat-tab>

  <mat-tab label="Tab 4" name="tab4">
    <ng-template matTabContent>
      Tab 4 Content
    </ng-template>
  </mat-tab>

  <mat-tab label="Tab 5" name="tab5">
    <ng-template matTabContent>
      Tab 5 Content
    </ng-template>
  </mat-tab>

  <mat-tab label="Tab 6" name="tab6">
    <ng-template matTabContent>
      Tab 6 Content
    </ng-template>
  </mat-tab>

  <mat-tab label="Tab 7" name="tab7">
    <ng-template matTabContent>
      Tab 7 Content
    </ng-template>
  </mat-tab>

  <mat-tab label="Tab 8" name="tab8">
    <ng-template matTabContent>
      Tab 8 Content
    </ng-template>
  </mat-tab>
</mat-tab-group>

<button 
      type="button"
      mat-raised-button
      (click)="tab = 'tab3'">
    Goto Tab 3
  </button>

<fieldset>
  <legend>Selected Tab</legend>
  {{tab}}
</fieldset>
