<mat-tab-group 
    orientation="vertical" 
    [(selected)]="tab"
    (selectedChange)="selectedChange($event)">
  <mat-tab label="Tab 1" name="tab1">
    <ng-template matTabContent>
      Tab 1 Content

      <mat-tab-group>
        <mat-tab label="Inner 1">
          <ng-template matTabContent>
            Inner Tabs 1
          </ng-template>
        </mat-tab>
        <mat-tab label="Inner 2">
          <ng-template matTabContent>
            Inner Tabs 2
          </ng-template>
        </mat-tab>
      </mat-tab-group>
        
    </ng-template>
  </mat-tab>

  <mat-tab label="Tab 2" name="tab2">
    <ng-template matTabContent>
      Tab 2 Content
    </ng-template>
  </mat-tab>

  <mat-tab label="Tab 3" name="tab3">
    <ng-template matTabContent>
      Tab 3 Content
    </ng-template>
  </mat-tab>

  <mat-tab label="Tab 4" name="tab4">
    <ng-template matTabContent>
      Tab 4 Content
    </ng-template>
  </mat-tab>

  <mat-tab label="Tab 5" name="tab5">
    <ng-template matTabContent>
      Tab 5 Content
    </ng-template>
  </mat-tab>

  <mat-tab label="Tab 6" name="tab6">
    <ng-template matTabContent>
      Tab 6 Content
    </ng-template>
  </mat-tab>
</mat-tab-group>

<button 
      type="button"
      mat-raised-button
      (click)="tab = 'tab3'">
    Goto Tab 3
  </button>

<fieldset>
  <legend>Selected Tab</legend>
  {{tab}}
</fieldset>

<br><br><br>

<nav mat-tab-nav-bar fsTabs orientation="vertical">
  <a mat-tab-link
     routerLink="#"
     [active]="true">
    Long Link A
  </a>
  <a mat-tab-link
     routerLink="#">
    Long Link B
  </a> 
  <a mat-tab-link
     routerLink="#">
    Long Link C
  </a>    
</nav>