@use './variables';

.fs-tabs-sticky {
  position: sticky !important;
  top: 0;
  z-index: 2;
  background-color: #fff;

  .mat-tab-label-container {
    overflow: hidden;
  }

  .mat-tab-link-container {
    overflow: hidden;
  }

  .mat-tab-link, .mat-tab-label {
    min-width: unset;
    padding: 0 10px;
  }
}
