@use './variables';
@use '@firestitch/style/variables' as fs-style-variables;
@use '@angular/material' as mat;


@media (min-width: fs-style-variables.$break-xsmall)  {
  mat-tab-group.fs-tabs-vertical {
    flex-direction: row;

    .mat-mdc-tab-body-wrapper {
      padding-left: 24px;
      width: 100%;
      box-sizing: border-box;
    }
  }

  .fs-tabs-vertical {
    .mat-dialog-content {
      margin-bottom: -24px;
    }

    .mat-mdc-tab-links,
    .mat-mdc-tab-labels {
      display: flex;
      flex-direction: column;
    }

    + .mat-mdc-tab-nav-panel {
      margin-left: 24px;
    }

    .fs-tabs-horizontal {
      .mat-mdc-tab-links,
      .mat-mdc-tab-labels {
        flex-direction: row;
      }
  
      + .mat-mdc-tab-nav-panel {
        margin-left: unset;
      }
    }
  }
}
