@use './variables';
@use '@firestitch/style/variables' as fs-style-variables;
@use '@angular/material' as mat;


@media (min-width: fs-style-variables.$break-xsmall)  {
  fs-tab-nav > ng-component {
    width: 100%;
    box-sizing: border-box;
  }

  .fs-tabs-vertical {
    flex-direction: row !important;

    // With mat-tab-group
    > .mat-mdc-tab-header {
      padding-right: 24px;
    }

    // With mat-tab-nav-bar
    &.mat-mdc-tab-header {
      padding-right: 24px;
    }

    > .mat-mdc-tab-body-wrapper {
      width: 100%;
      box-sizing: border-box;
    }

    .mat-mdc-tab-link {
      letter-spacing: normal;
    }

    .mat-mdc-tab-links,
    > .mat-mdc-tab-header {

      .mat-mdc-tab-ripple,
      .mdc-tab__ripple::before {
        border-radius: 12px;
      }

      .mdc-tab {
        height: 36px;
        justify-content: flex-start;
      }

      .mdc-tab.mdc-tab-indicator--active {
        background-color: var(--mdc-tab-indicator-active-indicator-color);
        border-radius: 12px;

        .mdc-tab__text-label {
          color: #fff;
          transition: none;
        }

        .mdc-tab-indicator {
          display: none;
        }
      }
    }

    .mat-dialog-content {
      margin-bottom: -24px;
    }

    .mat-mdc-tab-links,
    .mat-mdc-tab-labels {
      display: flex;
      flex-direction: column;
    }

    + .mat-mdc-tab-nav-panel {
      margin-left: 24px;
      flex: 1;
    }

    .fs-tabs-horizontal {
      .mat-mdc-tab-links,
      .mat-mdc-tab-labels {
        flex-direction: row;
      }
  
      + .mat-mdc-tab-nav-panel {
        margin-left: unset;
      }
    }
  }
}
