<fs-examples>
  <!-- <fs-example name="Tabs" componentName="tabs">
    <router-outlet></router-outlet>
  </fs-example> -->

  <fs-example name="Vertical Tabs" componentName="vertical-tabs">
    <vertical-tabs></vertical-tabs>
  </fs-example>

  <fs-example name="Vertical Nav Tabs" componentName="vertical-nav-tabs">
    <vertical-nav-tabs></vertical-nav-tabs>
  </fs-example>

  <fs-example name="Vertical Dialog Tabs" componentName="dialog-vertical-tabs">
    <dialog-vertical-tabs></dialog-vertical-tabs>
  </fs-example>

  <fs-example name="Horizontal Link Tabs" componentName="dialog-vertical-tabs">
    <horizontal-link-tabs></horizontal-link-tabs>
  </fs-example>
</fs-examples>
