@use '@firestitch/style/variables' as fs-style-variables;
@use '@angular/material' as mat;
@use './styles/variables';

@forward './styles/variables' as fs-tabs-*;
@forward './styles/vertical';
@forward './styles/sticky';

$primary-color: mat.get-color-from-palette(fs-style-variables.$palette, primary-rgb) !default;

.mat-tab-nav-bar:not(.fs-tabs-vertical),
.mat-tab-group:not(.fs-tabs-vertical) {
  > .mat-tab-header,
  > .mat-tab-link-container {
    .mat-tab-label,
    .mat-tab-link {
      &.cdk-focused,
      &:hover {
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        background-color: rgba($primary-color, 0.2) !important;
      }
    }
  }
}

// Removed for now. Have to figure out scrolling to selected tab
// .mat-tab-group .mat-tab-header {
//   .mat-tab-link-container {
//     overflow: auto;
//   }

//   .mat-tab-header-pagination {
//     display: none !important;
//   }
// }

@media (max-width: fs-style-variables.$break-xsmall)  {
  .mat-tab-nav-bar .mat-tab-link, 
  .mat-tab-group .mat-tab-label {
    height: variables.$mobile-tab-height;
  }
}

@media (min-width: fs-style-variables.$break-xsmall)  {
  .mat-tab-nav-bar,
  .mat-tab-group {
    &.fs-tabs-vertical {
      > .mat-tab-header,
      > .mat-tab-link-container {
        .mat-tab-label,
        .mat-tab-link {
          &.cdk-focused.mat-tab-label-active {
            background-color: rgba($primary-color);
          }

          &.cdk-focused:not(.mat-tab-label-active),
          &:hover:not(.mat-tab-label-active) {
            border-radius: 4px;
            background-color: rgba($primary-color, 0.2);
          }
        }
      }
    }
  }
}
